.alert-block {
  color:  var(--WHITE);
  padding: 1rem;
  box-shadow: 0 1px 10px 0 rgb(9 15 32 / 10%);
  border-radius: 10px;
  align-self: flex-start;
}
.a-header {
  padding: 10px;
  color: var(--BLACK) ;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 1px solid var(--N20);
}
.a-data {
  padding: 10px;
}
.a-row-container {
  padding: 8px 4px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--NBLUE100);
}
.ac-clickable:hover {
  cursor: pointer;
  color: var(--NBLUE70);
}
