.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 1fr;
}
.counter-container {
  background-color: var(--NAVY110);
  height: 4rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
.filter-container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
  background-color:  var(--SUNSET70);
  height: 3rem;
  padding: 0 2rem;
  gap: 1rem;
}
.f-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.c-header-text {
  color:  var(--WHITE);
  font-size: 1.25rem;
  text-transform: uppercase;
}
.c-alerts-count {
  color:  var(--WHITE);
  font-size: 1.25rem;
  font-weight: 700;
}
.f-header-text {
  font-size: 1.15rem;
  font-weight: 600;
}
.filter-btn {
  padding:  5px 10px;
  background-color: var(--NEARBLACK);
  border: 1px solid black;
  border-radius: 6px;
  color: var(--WHITE);
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}
.f-active-filters {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}
.filter-delete {
  cursor: pointer;
  margin-top: 3px;
}
.body-container {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-auto-flow: column;
  background-color: var(--NBLUE5);
}
.alert-block {
  color:  var(--WHITE);
  padding: 1rem;
  box-shadow: 0 1px 10px 0 rgb(9 15 32 / 10%);
  border-radius: 10px;
  align-self: flex-start;
}
.a-header {
  padding: 10px;
  color: var(--BLACK) ;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 1px solid var(--N20);
}
.a-data {
  padding: 10px;
}
.a-row-container {
  padding: 8px 4px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--NBLUE100);
}
